<nav class="navbar fixed-bottom navbar-light bg-light">
  <div class="footer">
    <div class="col-lg-6 col-md-6 col-xs-12">
      <p id="p-mob" style="margin: 0px !important;  text-align: end;"><a style="text-decoration: none;"
          href="mailto:thais.barcellos@centrolemann.org.br"><i class="fas fa-envelope"></i><span
            style="font-size: 13px; color: black;">thais.barcellos@centrolemann.org.br</span></a></p>
    </div>
    <div class="col-lg-6 col-md-6 col-xs-12">
      <p id="p-mob" style="margin-top: auto; margin-bottom: auto; text-align: start;"><span
          style="font-size: 13px !important; margin-left: 1cm;">created by <a class="th" target="_blank"
            href="https://www.linkedin.com/in/thais-helena-s/">Thais Helena</a></span></p>
    </div>
  </div>
</nav>