<div class="loading" *ngIf="!loaded">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    style="margin: auto; display: block;" width="200px" height="200px" viewBox="0 0 100 100"
    preserveAspectRatio="xMidYMid">
    <g transform="translate(20 50)">
      <circle cx="0" cy="0" r="6" fill="#ef858c">
        <animateTransform attributeName="transform" type="scale" begin="-0.375s" calcMode="spline"
          keySplines="0.3 0 0.7 1;0.3 0 0.7 1" values="0;1;0" keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite">
        </animateTransform>
      </circle>
    </g>
    <g transform="translate(40 50)">
      <circle cx="0" cy="0" r="6" fill="#e15b64">
        <animateTransform attributeName="transform" type="scale" begin="-0.25s" calcMode="spline"
          keySplines="0.3 0 0.7 1;0.3 0 0.7 1" values="0;1;0" keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite">
        </animateTransform>
      </circle>
    </g>
    <g transform="translate(60 50)">
      <circle cx="0" cy="0" r="6" fill="#de414b">
        <animateTransform attributeName="transform" type="scale" begin="-0.125s" calcMode="spline"
          keySplines="0.3 0 0.7 1;0.3 0 0.7 1" values="0;1;0" keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite">
        </animateTransform>
      </circle>
    </g>
    <g transform="translate(80 50)">
      <circle cx="0" cy="0" r="6" fill="#c70707">
        <animateTransform attributeName="transform" type="scale" begin="0s" calcMode="spline"
          keySplines="0.3 0 0.7 1;0.3 0 0.7 1" values="0;1;0" keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite">
        </animateTransform>
      </circle>
    </g>
  </svg>
</div>

<section>
  <div class="row" id="sec">
    <div class="banner">
      <div class="container">
        <div class="row">
          <h1>ACADEMIC PUBLICATION</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container main">
  <div style="margin-bottom: 1.5cm; margin-top: 1cm;">
    <ul type="square">
      <li>T Barcellos, G Hirata. "Parent’s personality traits and child’s reading ability". Presented at:
        International Women’s Day Conference in Economics, Finance and Management. Katowice, Poland
        (2021). (Virtual meeting) </li>
      <li>T Barcellos, G Hirata. "Parent’s personality traits and child’s reading ability". Presented at:
        48th Brazilian Annual National Meeting of Economics. Brasília, Brazil (2020). (Virtual meeting)
      </li>
      <li>B Ottoni, M Leite, T Barcellos. "The importance of personality for labour force participation,
        unemployment and informality". Presented at: 48th Brazilian Annual National Meeting of
        Economics. Brasília, Brazil (2020). (Virtual meeting) </li>
      <li>G Araujo, T Barcellos, G Hirata. "Does the apple fall far from the tree?: Intergenerational
        transmission of occupational choice". Presented at: 47th Brazilian Annual National Meeting of
        Economics. São Paulo, Brazil (2019). </li>
      <li>T Barcellos, G Hirata. "The Brazilian wage gap between teachers in the public and private
        sectors across education levels". Presented at: 46th Brazilian Annual National Meeting of
        Economics. Rio de Janeiro, Brazil (2018). </li>
    </ul>
  </div>
</div>