<div class="loading" *ngIf="!loaded">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
    style="margin: auto; display: block;" width="200px" height="200px" viewBox="0 0 100 100"
    preserveAspectRatio="xMidYMid">
    <g transform="translate(20 50)">
      <circle cx="0" cy="0" r="6" fill="#ef858c">
        <animateTransform attributeName="transform" type="scale" begin="-0.375s" calcMode="spline"
          keySplines="0.3 0 0.7 1;0.3 0 0.7 1" values="0;1;0" keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite">
        </animateTransform>
      </circle>
    </g>
    <g transform="translate(40 50)">
      <circle cx="0" cy="0" r="6" fill="#e15b64">
        <animateTransform attributeName="transform" type="scale" begin="-0.25s" calcMode="spline"
          keySplines="0.3 0 0.7 1;0.3 0 0.7 1" values="0;1;0" keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite">
        </animateTransform>
      </circle>
    </g>
    <g transform="translate(60 50)">
      <circle cx="0" cy="0" r="6" fill="#de414b">
        <animateTransform attributeName="transform" type="scale" begin="-0.125s" calcMode="spline"
          keySplines="0.3 0 0.7 1;0.3 0 0.7 1" values="0;1;0" keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite">
        </animateTransform>
      </circle>
    </g>
    <g transform="translate(80 50)">
      <circle cx="0" cy="0" r="6" fill="#c70707">
        <animateTransform attributeName="transform" type="scale" begin="0s" calcMode="spline"
          keySplines="0.3 0 0.7 1;0.3 0 0.7 1" values="0;1;0" keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite">
        </animateTransform>
      </circle>
    </g>
  </svg>
</div>

<section>
  <div class="row" id="sec">
    <div class="banner">
      <div class="container">
        <div class="row">
          <h1>ACADEMIC PUBLICATION</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container main">
  <div style="margin-bottom: 1.5cm;">
    <div>
      <h3>PEER-REVIEWED JOURNAL PUBLICATIONS</h3>
      <ol>
        <li> TL Bartholo, MC Koslinski, M da Costa, <b>T Barcellos</b>. "What do children know upon entry to
          pre-school in Rio de Janeiro?". Ensaio: aval. pol. públ. educ. 28 (107). Apr Jun 2020. <a
            href="https://doi.org/10.1590/s0104-40362019002702071">https://doi.org/10.1590/s0104-40362019002702071</a>
        </li>
        <li> TL Bartholo, MC Koslinski, M da Costa, P Tymms, C Merrell, TM Barcellos. "The use of cognitive
          instruments for research in early childhood education: constraints and possibilities in the
          Brazilian context". Pro-Posições. 31. 2020.<a href="https://doi.org/10.1590/1980-6248-2018-0036">
            https://doi.org/10.1590/1980-6248-2018-0036 </a></li>
        <li> JBA Oliveira, M Gomes, <b>T Barcellos</b>. "Covid-19 and back to school: listening to
          evidence".
          Ensaio: aval. pol. públ. educ. 28 (108). Jul-Sep 2020. <a
            href="https://doi.org/10.1590/s0104-40362020002802885">https://doi.org/10.1590/s0104-40362020002802885 </a></li>
        <li> <b>T Barcellos</b>, G Hirata. "Decomposing public-private teachers’ wage gap: evidence from
          Brazil".
          Brazilian Review of Econometrics 40 (2). 2020. <a
            href="https://doi.org/10.12660/bre.v40n22020.81059">https://doi.org/10.12660/bre.v40n22020.81059 </a></li>
      </ol>
    </div>
    <div>
      <h3>WORKING PAPERS </h3>
      <ol typeof="1">
        <li> G Araujo, <b>T Barcellos</b>, G Hirata. "Does the apple fall far from the tree?:
          Intergenerational
          transmission of occupational choice". In Proceedings of the 47th Brazilian Annual National
          Meeting of Economics. 2019. </li>
        <li> <b>T Barcellos</b>, G Hirata. "Parent’s personality traits and child’s reading ability". In
          Proceedings of the 48th Brazilian Annual National Meeting of Economics. 2020. </li>
        <li> B Ottoni, M Leite, <b>T Barcellos</b>. "The importance of personality for labour force
          participation, unemployment and informality". In Proceedings of the 48th Brazilian Annual
          National Meeting of Economics. 2020.</li>
      </ol>
    </div>
    <div>
      <h3>UNDER REVIEW</h3>
      <ol typeof="1">
        <li> T Silva, <b>T Barcellos</b>, G Hirata, JBA Oliveira. "The Brazilian preschool expansion
          process".
          Submitted to Brazilian Journal of Political Economy </li>
        <li> JBA Oliveira, <b>T Barcellos</b>, D Reis. "Challenges of federalism in the Brazilian
          educational
          system". Submitted to Estudos em Avaliação Educacional</li>
      </ol>
    </div>
  </div>
</div>