<div class="loading" *ngIf="!loaded">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; display: block;" width="200px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
        <g transform="translate(20 50)">
        <circle cx="0" cy="0" r="6" fill="#ef858c">
          <animateTransform attributeName="transform" type="scale" begin="-0.375s" calcMode="spline" keySplines="0.3 0 0.7 1;0.3 0 0.7 1" values="0;1;0" keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite"></animateTransform>
        </circle>
        </g><g transform="translate(40 50)">
        <circle cx="0" cy="0" r="6" fill="#e15b64">
          <animateTransform attributeName="transform" type="scale" begin="-0.25s" calcMode="spline" keySplines="0.3 0 0.7 1;0.3 0 0.7 1" values="0;1;0" keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite"></animateTransform>
        </circle>
        </g><g transform="translate(60 50)">
        <circle cx="0" cy="0" r="6" fill="#de414b">
          <animateTransform attributeName="transform" type="scale" begin="-0.125s" calcMode="spline" keySplines="0.3 0 0.7 1;0.3 0 0.7 1" values="0;1;0" keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite"></animateTransform>
        </circle>
        </g><g transform="translate(80 50)">
        <circle cx="0" cy="0" r="6" fill="#c70707">
          <animateTransform attributeName="transform" type="scale" begin="0s" calcMode="spline" keySplines="0.3 0 0.7 1;0.3 0 0.7 1" values="0;1;0" keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite"></animateTransform>
        </circle>
        </g>
        </svg>
</div>

<section>
  <div class="row" id="sec">
    <div class="banner">
      <div class="container">
        <div class="row">
          <h1>WORK</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container main">
  <div style="margin-bottom: 1cm;">
      <h3>CENTRO LEMANN</h3>
      <span style="font-size: 14px;"><i class="fas fa-map-marker-alt"></i> REMOTO</span>
      <ul type="square">
          <li>Senior Project Analyst: 2022 - moment</li>
      </ul>
  </div>
  <div style="margin-bottom: 1cm;">
      <h3>IDADOS</h3>
      <span style="font-size: 14px;"><i class="fas fa-map-marker-alt"></i> RIO DE JANEIRO, BRAZIL</span>
      <ul type="square">
          <li>Researcher: 2017-2022</li>
      </ul>
  </div>
  <div style="margin-bottom: 1cm;">
      <h3>IPEA</h3>
      <span style="font-size: 14px;"><i class="fas fa-map-marker-alt"></i> RIO DE JANEIRO, BRAZIL</span>
      <ul type="square">
          <li>Research Assistant III (MA assistant): 2014 - 2017</li>
          <li>Research Assistant II (BA assistant): 2013 - 2014</li>
          <li>Research Intern: 2008 - 2011</li>
      </ul>
  </div>
</div>