<div class="loading" *ngIf="!loaded">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; display: block;" width="200px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
        <g transform="translate(20 50)">
        <circle cx="0" cy="0" r="6" fill="#ef858c">
          <animateTransform attributeName="transform" type="scale" begin="-0.375s" calcMode="spline" keySplines="0.3 0 0.7 1;0.3 0 0.7 1" values="0;1;0" keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite"></animateTransform>
        </circle>
        </g><g transform="translate(40 50)">
        <circle cx="0" cy="0" r="6" fill="#e15b64">
          <animateTransform attributeName="transform" type="scale" begin="-0.25s" calcMode="spline" keySplines="0.3 0 0.7 1;0.3 0 0.7 1" values="0;1;0" keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite"></animateTransform>
        </circle>
        </g><g transform="translate(60 50)">
        <circle cx="0" cy="0" r="6" fill="#de414b">
          <animateTransform attributeName="transform" type="scale" begin="-0.125s" calcMode="spline" keySplines="0.3 0 0.7 1;0.3 0 0.7 1" values="0;1;0" keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite"></animateTransform>
        </circle>
        </g><g transform="translate(80 50)">
        <circle cx="0" cy="0" r="6" fill="#c70707">
          <animateTransform attributeName="transform" type="scale" begin="0s" calcMode="spline" keySplines="0.3 0 0.7 1;0.3 0 0.7 1" values="0;1;0" keyTimes="0;0.5;1" dur="1s" repeatCount="indefinite"></animateTransform>
        </circle>
        </g>
        </svg>
</div>
<div class="row">
  <div class="banner">
    <div class="container">
      <div class="row">
        <div id="img" class="col-lg-4 col-md-6 col-sm-12">
          <div class="img-cover">
          </div>
        </div>
        <div id="desc" class="col-lg-6 col-md-6 col-sm-12">
          <h1>Thais Barcellos Webpage</h1>
          <p>Passionate about programming languages and with a background in economics, I turn data into evidence
          </p>
          <ul>
            <li class="floating"><a target="_blank" href="https://www.linkedin.com/in/thaismbarcellos/"><i
                  class="fab fa-linkedin"></i></a></li>
            <li class="floating"><a target="_blank" href="https://twitter.com/thais_barcellos"><i
                  class="fab fa-twitter-square"></i></a></li>
            <li class="floating"><a target="_blank"
                href="https://www.google.com/search?q=thais+barcellos+%2B+idados&rlz=1C1CHZN_pt-BRBR990BR991&biw=1536&bih=754&tbm=nws&ei=vP7fYu76Kpzs1sQPz--0gA0&ved=0ahUKEwjuyOul5pb5AhUctpUCHc83DdAQ4dUDCA0&uact=5&oq=thais+barcellos+%2B+idados&gs_lcp=Cgxnd3Mtd2l6LW5ld3MQA1D9BljzFmCwGGgAcAB4AIABcYgBpwiSAQMyLjiYAQCgAQHAAQE&sclient=gws-wiz-news"><i
                  class="fab fa-google"></i></a></li>
            <li class="floating"><a target="_blank" href="https://www.researchgate.net/profile/Thais-Barcellos"><i
                  class="fab fa-researchgate"></i></a></li>
            <li class="floating"><a target="_blank"
                href="https://scholar.google.com.br/citations?user=5OOSsMgAAAAJ&hl=pt-BR&oi=ao"><img class="icon"
                  src="../../assets/google-scholar.png"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<section>
<div class="container" id="content">
  <p  class="descricao">My research topics are Child Development, School, Education, Family and The Labour Market.</p>
</div>
</section>